<p id="notice"><%= notice %></p>

<h1>Офигенный заголовок</h1>

<p>
  <strong>Title:</strong>
  <%= @wine.title %>
</p>

<p>
  <strong>Country:</strong>
  <%= @wine.country %>
</p>

<p>
  <strong>Region:</strong>
  <%= @wine.region %>
</p>

<%= link_to 'Edit', edit_wine_path(@wine) %> |
<%= link_to 'Back', wines_path %>
